@font-face {
  font-family: "Gt eesti display ultra 2";
  src: url("/fonts/GtEestiDisplayUltra2.otf");
  font-display: swap;
}

@font-face {
  font-family: "Gt eesti display";
  font-weight: 100;
  src: url("/fonts/GT Eesti Pro Display/gteestiprodisplay_thin.otf");
  font-display: swap;
}

@font-face {
  font-family: "Gt eesti display";
  font-weight: 300;
  src: url("/fonts/GT Eesti Pro Display/gteestiprodisplay_light.otf");
  font-display: swap;
}

@font-face {
  font-family: "Gt eesti display";
  font-weight: 400;
  src: url("/fonts/GT Eesti Pro Display/gteestiprodisplay_regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "Gt eesti display";
  font-weight: 500;
  src: url("/fonts/GT Eesti Pro Display/gteestiprodisplay_medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "Gt eesti display";
  font-weight: 700;
  src: url("/fonts/GT Eesti Pro Display/gteestiprodisplay_bold.otf");
  font-display: swap;
}

@font-face {
  font-family: "Gt eesti display";
  font-weight: 800;
  src: url("/fonts/GT Eesti Pro Display/gteestiprodisplay_ultrabold.otf");
  font-display: swap;
}
